* {
  text-align: center;
  font-family: Helvetica;
}

body {
  display: block;
}

.banner, .design {
  background-image: url(../images/the-flatiron-building.png);
}

.white {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a, li {
  color: white;
  font-size: 18px;
}

.process p, .work p, .team p, .contact p {
  font-size: 14px;
}

.understand, .identify, .execute {
  padding: 10px;
}

.copyright {
  background-color: dimgrey;
  display: inline-block;
  width: 100%;
}

#copy {
  font-size: 11px;
}

ul {
  text-align: left;
}

li {
  display: inline-block;
}
